{% extends 'base.html' %}
{% load static %}
{% block title %}
    Booking Confirmation
{% endblock %}
{% block content %}
<div class="container mt-4" style="height: 620px;">
    {% if messages %}
      <div class="alert alert-success">
          {% for message in messages %}
              {{ message }}
          {% endfor %}
      </div>
    {% endif %}
    <div class="card" style="margin-top: 40px;">
        <div class="card-header text-center">
            <h2 class="my_title">Booking Confirmation</h2>
        </div>
        <div class="card-body">
            <p class="print-sec1">Thank you, <strong>{{ passenger.first_name }} {{ passenger.last_name }}</strong> for choosing us!</p>
            <p class="print-sec1" style="margin-left: 415px;">Here are your booking details</p>
            
            <div class="print-sec2 row">
                <div class="col-md-6">
                    <p><strong>Name : </strong> {{ passenger.first_name }} {{ passenger.last_name }}</p>
                </div>
                <div class="col-md-6">
                    <p><strong>Email : </strong> {{ passenger.email }} </p>
                </div>
                <div class="col-md-6">
                    <p><strong>Phone Number : </strong> {{ passenger.phone_number }}</p>
                </div>
                <div class="col-md-6">
                    <p><strong>Flight : </strong> {{ flight.airline_name }} - {{ flight.flight_number }}</p>
                </div>
                <div class="col-md-6">
                    <p><strong>From : </strong> {{ flight.departure_city }}</p>
                </div>
                <div class="col-md-6">
                    <p><strong>To : </strong> {{ flight.arrival_city }}</p>
                </div>
                <div class="col-md-6">
                    <p><strong>Departure Time : </strong> {{ flight.departure_time }}</p>
                </div>
                <div class="col-md-6">
                    <p><strong>Arrival Time : </strong> {{ flight.arrival_time }}</p>
                </div>
                <div class="col-md-6">
                    <p><strong>Seat Numbers : </strong> {{ seat_numbers|join:", " }}</p>
                </div>
                <div class="col-md-6">
                    <p><strong>Total Price : </strong> $ {{ total_price }}</p>
                </div>
            </div>
        </div>
        <div class="card-footer text-center">
            <a href="{% url 'airlineapp:cancel_booking' reservation.id %}" class="btn print-sec3">Cancel Booking</a>
            <a href="{% url 'airlineapp:index' %}" class="btn print-sec3" style="margin-left: 100px;">Go Back to Home</a>
        </div>
    </div>
</div>
{% endblock %}


